# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# Reports (if custom)
reports/

# OS
.DS_Store

# Build
dist/
*.config.js

src/test-data/session/